@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

body {
    font-family: Urbanist, Arial, Helvetica, sans-serif;
    letter-spacing: 0.05rem;
    background: #242A3D;
    color: #E5E7EB;
}

::-webkit-scrollbar {
    width: 6px;
}
::-webkit-scrollbar-thumb {
    background: #242A3D;
    border-radius: 4px;
}
::-webkit-scrollbar-track {
    background: #030712;
}